body{
    background-color: bisque;
}

h1 {
    font-family: Arial, sans-serif;
    color: brown;
    text-align: center;
}

.kartu{
    box-sizing: border-box;
    width: 500px;
    padding: 30px;
    border:  2px solid #333;
    border-radius: 40px;
    margin: auto;
    margin-bottom:10px;
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
    text-decoration: dotted;
    color: brown;
    box-shadow:  0 8px 20px brown;
    transition: 0.3s;
}

.kartu-img{
    width: 200px;      
    height: 150px;    
    border-radius: 10px;
    margin: auto;
}

.kartu:hover{
    transform: translateY(-5px);
}

.button{
    color:brown;
    font-family: Arial, sans-serif;
}

button:hover {  
    background-color: beige; 
} 




